{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block body %}
<h1 class="text-center text-white">Hello, world!</h1>
    <div id="nav-placeholder"></div>
    <div class="container-fluid">
        <div class="container mt-3">
            <div class="row justify-content-center">
                {{ div1|safe }}
                {{ div2|safe }}
                {{ div3|safe }}
                {{ div4|safe }}
                {{ div5|safe }}
                {{ div6|safe }}
            </div>
        </div>
    </div>
{% endblock %}