{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block body %}
<!-- <div class="container-fluid justify-content-center"> -->
    <form action="{{ url_for('login') }}" method="POST" class="box">
        <h1 style="font: bold 2rem Monospace;">Welcome to CS50</h1>
        <div class="form-group">
            <input name="username" type="text" class="form-control" placeholder="Username" autocomplete="off" required>
            <input name="password" type="password" class="form-control" placeholder="Password" required>
            <input type="submit" class="btn btn-primary" value="Log In">
        </div>
    </form>
<!-- </div> -->
{% endblock %}